<h1 style="
    background-color:Black; 
    color:White;
    font-size: 40px;
    padding: 5px;
    border-style: solid;
    border-width: 5px 5px;
    border-color: black">
    Practical Data la la la
</h1>

## Table of Contents <a class="anchor" id="TOC"></a> 
* [Libraries](#Libraries)
* [Create dataframes](#Creating_DataFrames)
* [Data Manipulation](#Data_Manipulation)
    * [List, Set, and Dict Comprehensions](#List_Set_Dict_Comprehensions)
* [Data Selection](#Data_Selection)
* [Reshaping](#Reshaping)
* [Insight into the Data](#Data_insights)

## Libraries
<a class="anchor" id="Libraries"></a>

In [1]:

# import libraries
import time
import xlrd
import re
import os

#import scipy as sp

#stats
from scipy import stats

import numpy as np
#pandas
import pandas as pd
pd.set_option('display.width', 500)
pd.set_option('display.max_columns', 200)
pd.set_option('display.notebook_repr_html', True)

# testing pandas
import pandas.util.testing as tm

#pandas plotting backend
#pd.options.plotting.backend = "plotly"

#Let's get visual

#PLOTLY
import plotly.express as px
import plotly.graph_objects as go
import plotly.figure_factory as ff


#matplotlib
import matplotlib as mpl
import matplotlib.cm as cm
import matplotlib.pyplot as plt
%matplotlib inline

#seaborn
import seaborn as sns


from sklearn.linear_model import LinearRegression
from sklearn.model_selection import train_test_split
from sklearn.metrics import mean_squared_error


import warnings


# bamboolib
import bamboolib as bam

In [39]:
#bam.disable()

bam.enable()

Success: the bamboolib extension was enabled successfully. You can disable it via 'bam.disable()'. You will now see a magic bamboolib button when you display your dataframes, for example via 'df'

In [40]:
iris = sns.load_dataset('iris')
penguins = sns.load_dataset("penguins")

#iris.columns
#penguins.columns

<a class="anchor" id="Creating_DataFrames"></a>
<h1 style="
    background-color:Black; 
    color:White;
    font-size: 30px;
    padding: 5px;
    border-style: solid;
    border-width: 5px 5px;
    border-color: black">
    Creating DataFrames
</h1>

[Back to top](#TOC)

### Specify values for each column

In [41]:
# Specify values for each column
df = pd.DataFrame(
{"a" : [4 ,5, 6],
"b" : [7, 8, 9],
"c" : [10, 11, 12]},
index = [1, 2, 3]
)

display(df)

   a  b   c
1  4  7  10
2  5  8  11
3  6  9  12

### Specify values for each row

In [42]:
# Specify values for each row
df = pd.DataFrame(
[[4, 7, 10],
[5, 8, 11],
[6, 9, 12]],
index=[1, 2, 3],
columns=['a', 'b', 'c']
)
display(df)

   a  b   c
1  4  7  10
2  5  8  11
3  6  9  12

### Create DataFrame with a MultiIndex

In [36]:
#Create DataFrame with a MultiIndex
df = pd.DataFrame(
{"a" : [4 ,5, 6],
"b" : [7, 8, 9],
"c" : [10, 11, 12]},
index = pd.MultiIndex.from_tuples(
[('d',1),('d',2),('e',2)],
names=['n','v']))

print("DataFrame with a MultiIndex")
display(df)

#with reset_index() you can flatten the dataframe
df_reset = df.reset_index()
print("\ndf_reset \nwith reset_index() you can flatten the dataframe")
df = df.reset_index()
df

DataFrame with a MultiIndex

     a  b   c
n v
d 1  4  7  10
  2  5  8  11
e 2  6  9  12

df_reset
with reset_index() you can flatten the dataframe

   n  v  a  b   c
0  d  1  4  7  10
1  d  2  5  8  11
2  e  2  6  9  12

### From a dictionary of list / series objects
As we saw before, a DataFrame can be constructed from a dictionary of Series objects as well:

In [32]:
city = [
    "California", "Florida", "Illinois", "New York", "Texas"
]

population = [
    38332521, 19552860, 12882135, 19651127, 26448193
]

area = [
    423967, 170312, 149995, 141297, 695662
]



example_df = pd.DataFrame({
    'city': city,
    'population': population,
                          })

display(example_df)

         city  population
0  California    38332521
1     Florida    19552860
2    Illinois    12882135
3    New York    19651127
4       Texas    26448193

<a class="anchor" id="Data_Manipulation"></a>
<h1 style="
    background-color:Black; 
    color:White;
    font-size: 30px;
    padding: 5px;
    border-style: solid;
    border-width: 5px 5px;
    border-color: black">
    Data Selection
</h1>

[Back to top](#TOC)

# List, Set, and Dict Comprehensions <a class="anchor" id="List_Set_Dict_Comprehensions"></a>

[Back to top](#TOC)

## Basics
**List comprehension**
```python
[expr for val in collection if condition]
```

This is equivalent to the following for loop:

```python
result = []
for val in collection:
    if condition:
        result.append(expr)```

Set and **dict comprehensions** are a natural extension, producing sets and dicts in an idiomatically similar way instead of lists. 
A dict comprehension looks like this:

```python
dict_comp = {key-expr : value-expr for value in collection if condition}
```

A **set comprehension** looks like the equivalent list comprehension except with curly braces instead of square brackets:

```python
set_comp = {expr for value in collection if condition}
```

## Example

In [14]:
all_data = [
    ['John', 'Emily', 'Michael', 'Mary', 'Steven'],
    ['Maria', 'Juan', 'Javier', 'Natalia', 'Pilar']
]

With a for loop

In [15]:
names_of_interest = []
for names in all_data:
    enough_es = [name for name in names if name.count('e') >= 2]
    names_of_interest.extend(enough_es)

print(names_of_interest)

['Steven']

With a list comprehension

In [11]:
result = [name for names in all_data for name in names if name.count('e') >= 2]
print(result)

['Steven']

<a class="anchor" id="Data_Selection"></a>
<h1 style="
    background-color:Black; 
    color:White;
    font-size: 30px;
    padding: 5px;
    border-style: solid;
    border-width: 5px 5px;
    border-color: black">
    Data Selection
</h1>

[Back to top](#TOC)

# Built in

### Enumerate

In [21]:
some_list = ['foo', 'bar', 'baz']

mapping = {}
for i, v in enumerate(some_list):
  mapping[v] = i

mapping

{'foo': 0, 'bar': 1, 'baz': 2}

### Extend or append

In [22]:
#append: Appends object at the end.
a = [1, 2, 3]
a.append([4, 5])
print (a)

#extend: Extends list by appending elements from the iterable.
b = [1, 2, 3]
b.extend([4, 5])
print (b)

[1, 2, 3, [4, 5]]
[1, 2, 3, 4, 5]

## Find to unique values

In [23]:
#set([2, 2, 2, 1, 3, 3])


{2, 2, 2, 1, 3, 3}

{1, 2, 3}

A set is an unordered collection of unique elements. You can think of them like dicts, but keys only, no values. A set can be created in two ways: via the set function or via a set literal with curly braces:

| Function                           | Alternative syntax | Description                                                                      |
|:-------------------------------- | :------------------ | :------------------------------------------------------------------------------- |
| a.add(x)                           | N/A                | Add element x to the set a                                                       |
| a.clear()                          | N/A                | Reset the set a to an empty state, discarding all of its elements                |
| a.remove(x)                        | N/A                | Remove element x from the set a                                                  |
| a.pop()                            | N/A                | Remove an arbitrary element from the set a, raising KeyError if the set is empty |
| a.union(b)                         | a | b              | All of the unique elements in a and b                                            |
| a.update(b)                        | a |= b             | Set the contents of a to be the union of the elements in a and b                 |
| a.intersection(b)                  | a & b              | All of the elements in both a and b                                              |
| a.intersection\_update(b)          | a &= b             | Set the contents of a to be the intersection of the elements in a and b          |
| a.difference(b)                    | a - b              | The elements in a that are not in b                                              |
| a.difference\_update(b)            | a -= b             | Set a to the elements in a that are not in b                                     |
| a.symmetric\_difference(b)         | a ^ b              | All of the elements in either a or b but not both                                |
| a.symmetric\_difference\_update(b) | a ^= b             | Set a to contain the elements in either a or b but not both                      |
| a.issubset(b)                      | <=                 | True if the elements of a are all contained in b                                 |
| a.issuperset(b)                    | \>=                | True if the elements of b are all contained in a                                 |
| a.isdisjoint(b)                    | N/A                | True if a and b have no elements in common                                       |

In [10]:
set(iris.species)

{'setosa', 'versicolor', 'virginica'}

In [11]:
set(penguins["species"])

{'Adelie', 'Chinstrap', 'Gentoo'}

## Grouping

In [12]:
penguins.groupby(["species","island"])

In [13]:
iris['species'] = iris['species'].astype('category')
iris.species.nunique()

3

# Reshaping <a class="anchor" id="Reshaping"></a> 

[Back to top](#TOC)

### Pivot tables
While ``pivot()`` provides general purpose pivoting with various data type (strings, numerics, etc.), pandas also provides ``pivot_table()`` for pivoting with aggregation of numeric data. The function ``pivot_table()`` can be used to create spreadsheet-style pivot tables.

It takes a number of arguments:

* **data:** a DataFrame object.
* **index:** a column, Grouper, array which has the same length as data, or list of them. Keys to group by on the pivot table index. If an array is passed, it is being used as the same manner as column values.
* **columns:** a column, Grouper, array which has the same length as data, or list of them. Keys to group by on the pivot table column. If an array is passed, it is being used as the same manner as column values.
* **values:** a column or a list of columns to aggregate.
* **aggfunc:** function to use for aggregation, defaulting to numpy.mean.

```python
df.pivot_table(
  index= '',
  columns= [],
  values= [],
  aggfunc = [np.mean])
```

### Cross tabulations
Use ``crosstab()`` to compute a cross-tabulation of two (or more) factors. By default crosstab computes a frequency table of the factors unless an array of values and an aggregation function are passed.

It takes a number of arguments

* **index:** array-like, values to group by in the rows.
* **columns:** array-like, values to group by in the columns.
* **values:** array-like, optional, array of values to aggregate according to the factors.

aggfunc: function, optional, If no values array is passed, computes a frequency table.

rownames: sequence, default None, must match number of row arrays passed.

colnames: sequence, default None, if passed, must match number of column arrays passed.

margins: boolean, default False, Add row/column margins (subtotals)

normalize: boolean, {‘all’, ‘index’, ‘columns’}, or {0,1}, default False. Normalize by dividing all values by the sum of values.

Any Series passed will have their name attributes used unless row or column names for the cross-tabulation are specified