<h1 style="
    background-color:Black; 
    color:White;
    font-size: 40px;
    padding: 5px;
    border-style: solid;
    border-width: 5px 5px;
    border-color: black">
    Pracical stats and graphics for EDA
</h1>

## Table of Contents <a class="anchor" id="TOC"></a> 
* [Libraries](#Libraries)
* [Create dataframes](#Creating_DataFrames)

## Libraries

In [17]:
import numpy as np
import scipy 
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns # Set default Seaborn style

#PLOTLY
import plotly.express as px
import plotly.graph_objects as go
import plotly.figure_factory as ff

sns.set(style="whitegrid")
pd.set_option("display.max.columns", None)
pd.set_option('display.notebook_repr_html', True)

import IPython
#print(IPython.sys_info())

In [10]:
import bamboolib as bam

In [5]:
import statsmodels.api as sm
import statsmodels.formula.api as smf

In [18]:
sns.get_dataset_names()

['anagrams',
 'anscombe',
 'attention',
 'brain_networks',
 'car_crashes',
 'diamonds',
 'dots',
 'exercise',
 'flights',
 'fmri',
 'gammas',
 'geyser',
 'iris',
 'mpg',
 'penguins',
 'planets',
 'tips',
 'titanic']

In [19]:
# Loading built-in Datasets:
iris = sns.load_dataset("iris")
penguins = sns.load_dataset("penguins")

In [21]:
iris = pd.DataFrame(iris)
penguins

,species,island,bill_length_mm,bill_depth_mm,flipper_length_mm,body_mass_g,sex
0,Adelie,Torgersen,39.1,18.7,181.0,3750.0,MALE
1,Adelie,Torgersen,39.5,17.4,186.0,3800.0,FEMALE
2,Adelie,Torgersen,40.3,18.0,195.0,3250.0,FEMALE
3,Adelie,Torgersen,NaN,NaN,NaN,NaN,NaN
4,Adelie,Torgersen,36.7,19.3,193.0,3450.0,FEMALE
...,...,...,...,...,...,...,...
339,Gentoo,Biscoe,NaN,NaN,NaN,NaN,NaN
340,Gentoo,Biscoe,46.8,14.3,215.0,4850.0,FEMALE
341,Gentoo,Biscoe,50.4,15.7,222.0,5750.0,MALE
342,Gentoo,Biscoe,45.2,14.8,212.0,5200.0,FEMALE
343,Gentoo,Biscoe,49.9,16.1,213.0,5400.0,MALE

In [9]:
print(iris.info)

<bound method DataFrame.info of      sepal_length  sepal_width  petal_length  petal_width    species
0             5.1          3.5           1.4          0.2     setosa
1             4.9          3.0           1.4          0.2     setosa
2             4.7          3.2           1.3          0.2     setosa
3             4.6          3.1           1.5          0.2     setosa
4             5.0          3.6           1.4          0.2     setosa
..            ...          ...           ...          ...        ...
145           6.7          3.0           5.2          2.3  virginica
146           6.3          2.5           5.0          1.9  virginica
147           6.5          3.0           5.2          2.0  virginica
148           6.2          3.4           5.4          2.3  virginica
149           5.9          3.0           5.1          1.8  virginica

[150 rows x 5 columns]>

<a class="anchor" id="Creating_DataFrames"></a>
<h1 style="
    background-color:Black; 
    color:White;
    font-size: 30px;
    padding: 5px;
    border-style: solid;
    border-width: 5px 5px;
    border-color: black">
    Graphical exploratory data analysis
</h1>


[Back to top](#TOC)

The "square root rule" is a commonly-used rule of thumb for choosing number of bins: choose the number of bins to be the square root of the number of samples.

In [14]:
iris.shape[0]

150

In [15]:
# Compute number of data points: n_data
n_data = iris.shape[0]

# Number of bins is the square root of number of data points: n_bins
n_bins = np.sqrt(n_data)

# Convert number of bins to integer: n_bins
n_bins = int(n_bins)

sns.displot(iris, x="flipper_length_mm", hue="species", element="step")

12

# Measures of Central Tendency
The measures of central tendency show the central or middle values of datasets. There are several definitions of what‚Äôs considered to be the center of a dataset. In this tutorial, you‚Äôll learn how to identify and calculate these measures of central tendency:

* Mean
* Weighted mean
* Geometric mean
* Harmonic mean
* Median
* Mode

## Mean absolute deviation

In [ ]:
iris.mad()

sepal_length    0.687556
sepal_width     0.336782
petal_length    1.562747
petal_width     0.658133
dtype: float64

## Variance

In [ ]:
iris.var()

sepal_length    0.685694
sepal_width     0.189979
petal_length    3.116278
petal_width     0.581006
dtype: float64

# Measures of Variability
The measures of central tendency aren‚Äôt sufficient to describe data. You‚Äôll also need the measures of variability that quantify the spread of data points. In this section, you‚Äôll learn how to identify and calculate the following variability measures:

* Variance
* Standard deviation
* Skewness
* Percentiles
* Ranges

## Coefficient of variation

In [ ]:
np.std(iris)/np.mean(iris)

sepal_length    0.141238
sepal_width     0.142088
petal_length    0.468176
petal_width     0.633429
dtype: float64

## Standard deviation

In [ ]:
iris.std()

sepal_length    0.828066
sepal_width     0.435866
petal_length    1.765298
petal_width     0.762238
dtype: float64

## Skewness

In [ ]:
iris.skew()

sepal_length    0.314911
sepal_width     0.318966
petal_length   -0.274884
petal_width    -0.102967
dtype: float64

## Quantiles

In [ ]:
quantiles = iris.quantile([0.25, 0.5, 0.75])

print(quantiles)

      sepal_length  sepal_width  petal_length  petal_width
0.25           5.1          2.8          1.60          0.3
0.50           5.8          3.0          4.35          1.3
0.75           6.4          3.3          5.10          1.8

## Covariance

### Measures of Correlation Between Pairs of Data
You‚Äôll often need to examine the relationship between the corresponding elements of two variables in a dataset. Say there are two variables, ùë• and ùë¶, with an equal number of elements, $ùëõ$. Let $ùë•_‚ÇÅ$ from $ùë•$ correspond to $ùë¶‚ÇÅ$ from $ùë¶$, $ùë•_2$ from $ùë•$ to $ùë¶_2$ from $ùë¶$, and so on. You can then say that there are $ùëõ$ pairs of corresponding elements: $(ùë•_‚ÇÅ, ùë¶_‚ÇÅ)$, $(ùë•‚ÇÇ, ùë¶‚ÇÇ)$, and so on.

You‚Äôll see the following measures of correlation between pairs of data:

Positive correlation exists when larger values of $ùë•$ correspond to larger values of $ùë¶$ and vice versa.
Negative correlation exists when larger values of $ùë•$ correspond to smaller values of $ùë¶$ and vice versa.
Weak or no correlation exists if there is no such apparent relationship.

The two statistics that measure the correlation between datasets are covariance and the correlation coefficient.

<p style=‚Äú
   color: #32516b;
   background-color: #dfebf5;
   border-color: #d3e3f1;‚Äù>When working with correlation among a pair of variables, and that‚Äôs that correlation is not a measure or indicator of causation, but only of association!</p>

In [ ]:
covariance = iris.cov()
print(covariance)

              sepal_length  sepal_width  petal_length  petal_width
sepal_length      0.685694    -0.042434      1.274315     0.516271
sepal_width      -0.042434     0.189979     -0.329656    -0.121639
petal_length      1.274315    -0.329656      3.116278     1.295609
petal_width       0.516271    -0.121639      1.295609     0.581006

In [ ]:
Statis